header{
    font-family: sans-serif;
    background-color: black;
    opacity: 0.7;
   
}
.menu a{
    color: white;
}

.carousel-inner h5{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#imagem img{
    border-radius: 50px;
}

p{
    color:black;
    font-size: 20px;
    
}

h2{
    text-align: center;
    padding: 10px;
}

#cafe{
    color: rgb(252, 250, 250);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman';
    

}


.titulo{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman';
}
footer{
    background-color: black;
    opacity: 0.7;
}

footer p{
    color:white;
    text-align: center;
    height: 50px;

}

#contato{
    color: white;
    background-color: black;
    opacity: 0.7;
}

#logo{
   font-family:'Courier New', Courier, monospace;
  text-shadow: 2px 2px 2px black;
  color: white;
  font-size: 30px;
}

#separador  {
    border-right:1px solid white
}




